# CUSTOM


# PROTOBUF
/Common/google/
/Common//protoc.exe
/Common/libprotobuf.dll
/Common/libprotoc.dll

# DB Migration
/ChatServer/ChatServer/Migrations/
Common/protoc.exe
Common/Sequence Diagrams/plantuml-1.2023.13.jar
